<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Reported by <%= @user.name %> </h1>
<p>
  Posted by: <%= @image.user.name %>   <br>
  Image Score: <%= @image.upscore + @image.downscore %>
  <br>
</p>
  <br>
  <h1> <%=@image.caption%> </h1>
  <%= image_tag(@image.image.url(:large))  %>


</body>
</html>