<div id='signup'>
<%= form_for :image, :html => { :multipart => true } do |image| %>
<% if @image.errors.any? %>
    <div class="error_messages">
      <h2>Uh oh!</h2>
      <ul>
        <% for message in @image.errors.full_messages %>
          -<%= message %><br>
        <% end %>
      </ul>
    </div>
  <% end %>
Choose Image: <%= image.file_field :image %><br>
Caption:<br> <%= image.text_field :caption %><br>
<p class="button"><%= image.submit %></p>
<% end %>

</div>