<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js">
<head>
  <!-- (c) Copyright 2012, Instagram, Inc  -->

	<meta charset="UTF-8" />
	<title>Inzomb Beta • Coming soon!</title>
	<link rel="Shortcut Icon" type="image/x-icon" href="favicon.ico" />

	<style>@import "index.css";</style>

<!--[if lt IE 9]> 

  <style type="text/css">

    .overlay {
      display: none !important;
    }
  </style>

<![endif]-->
<head>

<title>Landing page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body {
	background-image: url(../app/views/beta/retro_rainbow-wallpaper-1440x900.jpg);
	background-repeat: no-repeat;
}
.test {
	font-family: Arial, Helvetica, sans-serif;
}
.test {
	font-family: Arial, Helvetica, sans-serif;
}
.test {
	font-family: Arial, Helvetica, sans-serif;
}
body,td,th {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.test {
	font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;		</p>
<p>
  <?php
&first name = ["firstname"];
&last name = ["lastname"];

if ($username == "admin" && $password == "admin") {
	echo "Logged In"};

?>
  
</p>
<form name="form1" method="post" action="">
  <p align="center"><strong>inzomb</strong></p>
  <p align="center"><strong>Welcome to the beta. </strong></p>
  <p align="center"><span class="test"><strong>First Name</strong></span>
    <input type="text" name="First name" id="First name">
  </p>
  <p align="center"><span class="test"><strong>Last</strong></span><strong> <span class="test">Name</span></strong>
    <input type="text" name="Last name" id="Last name">
  </p>
  <p align="center">
    <input type="submit" name="Enter" id="Enter" value="Enter">
  </p>
</form>
</body>

	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18105282-1']);
    _gaq.push(['_setDomainName', 'instagr.am']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<div class="page-wrapper">
<header>
		<h1>Inzomb</h1>

		<p>Coming soon!</p>
	</header>


    <p class="form-text">
     
    </p><p class="form-actions">
     
  </p>

			<p class="notice positive" style="display:none">
				Thanks for signing up! We'll be in touch soon!
			</p>

			<p class="notice negative" style="display:none">
				It seems that something went wrong! </br>
				Did you enter a correct e-mail address?
			</p>
		</fieldset>
	</form>
  <footer>
  
    <p class="legal"><span>beta.inzomb.com</a></p>
  </footer>
</div>

<div class="overlay"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function(){
    var is_ios = (
          (navigator.userAgent.toLowerCase().indexOf("ipad") > -1) ||
          (navigator.userAgent.toLowerCase().indexOf("iphone") > -1) ||
          (navigator.userAgent.toLowerCase().indexOf("ipod") > -1)),
        is_opera = (navigator.userAgent.toLowerCase().indexOf("opera") > -1);

    setTimeout(function(){
      // Hide the address bar!
      window.scrollTo(0, 1);
    }, 0);

    if (is_ios) {
      $('body').addClass('ios');
    }

    // Add no-anim class to prevent reanimating
    if (is_opera) {
      $('body').addClass('no-anim');
    } else {
      setTimeout(function() {
        $('body').addClass('no-anim');
      }, 5000);
    }

    // Hide all notices
    $('.notice').hide();

    // Handle form submit
    $('#email-form').submit(function(event) {
      event.preventDefault();

      var $form = $(this),
          $email_field = $form.find('input[name="email"]'),
          email = $email_field.val()
          url = $form.attr('action');

      // Do not submit if email is empty
      if ($.trim(email).length == 0) {
        return;
      }

      $.post(url, { email: email },
        function(data) {
          $email_field.val('').blur();
          $('.form-text,.form-actions').hide();
          $('.notice.positive').fadeIn();
          $('.notice.negative').hide();
        }
      , 'json')
      .error(function(data) {
        $('.notice.positive').hide();
        $('.notice.negative').fadeIn();
      });
    });
  });
</script>
</body>
</html>