<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js">
<head>
  <!-- (c) Copyright 2012, Instagram, Inc  -->

  <meta charset="UTF-8" />
  <title>Inzomb Beta • Coming soon!</title>
  <link rel="Shortcut Icon" type="image/x-icon" href="favicon.ico" />

  <style>@import "index.css";</style>

  <!--[if lt IE 9]>

  <style type="text/css">

      .overlay {
          display: none !important;
      }
  </style>

  <![endif]-->
<head>
  <%= form_tag({:controller => "beta", :action => "validate"}, :method => "post") do %>
      <div id='label'>
      <%= label_tag 'First Name' %>
      <%= text_field_tag("first_name", "")  %>
      </div>
      <%=label_tag 'Last Name'  %> <%=text_field_tag("last_name", "") %>  <BR>

      <%= submit_tag("Submit") %>
  <% end  %>

  <title>Landing page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
      body {
          background-image: url('/assets/retro_rainbow-wallpaper-1440x900.jpg');
          background-repeat: no-repeat;
      }
      .test {
          font-family: Arial, Helvetica, sans-serif;
      }
      .test {
          font-family: Arial, Helvetica, sans-serif;
      }
      .test {
          font-family: Arial, Helvetica, sans-serif;
      }
      body,td,th {
          color: #FFF;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
      }
      .test {
          font-family: Arial, Helvetica, sans-serif;
      }

  </style>
</head>


